/* regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.centratura {
  padding: 0 10%;
}

.piano {
  background-color: green;
  border-radius: 5px ;
  color:white;
  text-decoration: none;
  padding: 6px 2px;
}

.grey {
  color: grey;
  font-size: 15px;
}

.green {
  color: green;
}

/* header */
header {
  background-color: rgb(31, 57, 97);
  height: 400px;
  background-image: url(../img/fluentify-jumbo.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 70% 80%;
}
/* barra */
.barra {
  height: 13%;
}

/* logo */
.barra img {
  float: left;
  width: 10%;
  padding: 10px 0;
  height:100%;
}
/* menu centrale */
.menu, .interazioni{
  text-align: center;
  height: 100%;
  display: inline-block;
}

.menu {
  width: 60%;
}
.barra ul {
  height: 100%;
}

.barra li {
  display: inline-block;
  height: 100%;
}

.barra li a {
  text-decoration: none;
  color: white;
  font-size: 10px;
  line-height: 5;
  padding: 0 3px;
}

/* interazioni */
.interazioni {
  width: 30%;
  float: right;
}

#login {
  border: solid 1px white;
  border-radius: 2px;
}
/* intestazione */
.intestazione {
  height: 80%;
}
.intestazione h2{
color: white;
width: 50%;
position: relative;
top: 30%;
}
.intestazione p {
  position: relative;
  top: 35%;
}
/* main */
/* sezioni marginali */
/* .margini {
  background-color: lightgrey;
  height: 100px;
} */
/* .fine > div {
  float: left;
  width: 40%;
  margin: 2%;
} */

/* sezione marginale iniziale */

.top {
  text-align: center;
  position: relative;
  background-color: lightgrey;
  height: 100px;
}

.iniziale {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}

/* parte principale */
.riga {
  border-bottom: solid 1px grey;
}
.riga::after {
  content: "";
  display: table;
  clear: both;
}

/* prima riga */

.riga.prima > div {
  float: left;
  width: calc(94%/3);
  margin:0 1%;
}
.prima {
  text-align: center;
  margin: 10px 0;
  padding-bottom: 10px;
}

.prima hr {
  width: 30%;
  color: grey;
  margin: 3px 35%;
}

.prima img {
  height: 100px;
}

/* seconda riga */

.riga.seconda > div {
  float: left;
  width: calc(92%/2);
  margin: 0 2%;
}

.seconda img {
  height: 300px;
}

/* sezione finale */
.fine::after{
  content: "";
  display: table;
  clear: both;
}
.fine {
  background-color: lightgrey;
}
.crea-piano {
  float: left;
  width: 40%;
  height: 100px;
}

.struttura {
  text-align: center;
  line-height: 5;
  color: black;
  text-decoration: none;
}

.opzioni-avanzate {
  float: right;
  width: 40%;
  position: relative;
}

.inline  {
  display: inline-block;
  margin: 10px;
}

.iscrizione {
  position: absolute;
  top: 50%;
  left:30%;
  transform: translate(-50%,-50%);
}
