/* regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* header */
header {
  background-color: rgb(31, 57, 97);
  /* debug */
  height: 400px;
  /* background-image: url(../img/fluentify-jumbo.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px; */
}
.barra {
  height: 20%;
}

.intestazione {
  height: 80%;
  background-image: url(../img/fluentify-jumbo.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 80% 100%
}
/* main */
/* sezioni marginali */
.margini {
  background-color: grey;
  height: 100px;
}
.fine > div {
  float: left;
  width: 40%;
  margin: 2%;
  /* width: calc(100%/3); */
  /* debug */
  background-color: yellow;
  height: 200px;
}
/* parte principale */
.riga {
  height: 500px;
  background-color: red;
  border-bottom: solid 1px grey;
}
.riga::after {
  content: "";
  display: table;
  clear: both;
}
.riga.prima > div {
  float: left;
  width: 30%;
  margin: 2%;
  /* width: calc(100%/3); */
  /* debug */
  background-color: yellow;
  height: 200px;
}
.riga.seconda > div {
  float: left;
  width: 40%;
  margin: 2%;
  /* width: calc(100%/3); */
  /* debug */
  background-color: yellow;
  height: 200px;
}
